body {
    /* Gradient background */
    background-attachment: fixed;
    background: linear-gradient(135deg, blue, purple, orange);
    height: 100%; /* Ensure it covers the full viewport */
    margin: 0; /* Remove default body margin */
}

td, th {
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

.class-cell {
    color: white;
    font-size: 13px;
    height: 100%;
}

.last-left-cell {
    border-bottom-left-radius: 15px;
}

.last-right-cell {
    border-bottom-right-radius: 15px;
}